<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results!</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {% load static %}

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

</head>
<body background-color=#D3D3D3; style='padding-bottom: 50px'>

    <div id="navbar">
        {% include 'base.html' %}
    </div>

    <a href="{{ purchase_url }}" class="btn btn-default" style="background-color:yellow;display:block;margin-top:22%;margin-bottom:0%">Proceed to Checkout</a>


</body>
    {% include 'footer.html' %}
</html>
