<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {% load static %}

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

</head>
<body background-color=#D3D3D3; style='padding-bottom: 50px'>

    <div id="navbar">
        {% include 'base.html' %}
    </div>

    <div style='margin-bottom:15px; margin-top: 75px'>
        <h1 class='title' style='width: 800px; margin: 0 auto'>
            My Cart:
        </h1>
    </div>

    {% for product in cartproducts %}
    <div style='margin-bottom: 20px;'>
        <div style='width: 800px; height: 172px; margin:0 auto; border: 1px solid black;' background-color=#FFFFFF;>
            <div style='width:150px; float: left;'>
                <a href="{{ product.product_url }}" target="_blank">
                    <img
                        border="1"
                        src={{ product.product_medium_image }}
                        width="170" height="170"
                    />
                </a>
            </div>

            <div style='width: 600px; height: 150px; float: right; margin-left: 20px;'>
                <h4 class="title">
                    <a href="{{ product.product_url }}" target="_blank">{{ product.product_title }}</a>
                </h4>
                <div>
                    <h5> Price: {{ product.product_price }} </h5>
                </div>
                <div>
                    <h5> From: {{ product.product_brand }} </h5>
                </div>
                <div class='dropup inline' style='float: left; margin-left:4px;'>
                    <button type="submit" id="product-{{ product.cart_item_id }}" class="btn btn-danger btn-sm">Remove From Cart</button>
                </div>

            </div>

        </div>
    </div>
        <script type="text/javascript">
            $('#product-{{ product.cart_item_id }}').click(function(e) {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'remove-from-cart' %}',
                    data: {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        cart_item_id: '{{ product.cart_item_id }}'
                    }
                });
            });
        </script>
    {% endfor %}

    <a href="{{ purchase_url }}" class="btn btn-primary btn-lg" style="margin:auto;display:block;margin-top:2%;margin-bottom:0%;width:200px">Proceed to Checkout</a>

    <button type="submit" id="clear-cart" style="margin:auto;display:block;margin-top:1%;margin-bottom:1%" class="btn btn-danger btn-sm">Clear Cart</button>

    <script type="text/javascript">
            $('#clear-cart').click(function(e) {
                $.ajax({
                    url: '{% url 'clear-cart' %}',
                });
            });
    </script>



</body>
    {% include 'footer.html' %}
</html>
