<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% extends 'base.html' %}

    <div id="amazon-root"></div>

    <script type="text/javascript">

        window.onAmazonLoginReady = function() {
            amazon.Login.setClientId('amzn1.application-oa2-client.3841a328796f48d48add98af3e1bd6fa');
        };

        (function(d) {
            var a = d.createElement('script'); a.type = 'text/javascript';
            a.async = true; a.id = 'amazon-login-sdk';
            a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
            d.getElementById('amazon-root').appendChild(a);
        }) (document);
    </script>

    <a href="#" id="LoginWithAmazon">
        <img
            border="0" alt="Login with Amazon"
            src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
            width="156" height="32"
        />
    </a>

    <script type="text/javascript">
        document.getElementById('LoginWithAmazon').onclick = function() {
            options = { scope : 'profile' };
            amazon.Login.authorize(options, 'https://mealbox.pythonanywhere.com/handleLogin');
            return false;
        };
    </script>

    <a href="#" id="Logout">
        <img
            border="0" alt="Logout"
            src="http://www.clker.com/cliparts/H/1/c/C/6/F/gray-login-thin-button-hi.png"
            width="156" height="32"
        />
    </a>

    <script type="text/javascript">
        document.getElementById('Logout').onclick = function() {
          amazon.Login.logout();
        };
    </script>

</body>
</html>
