<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Recipes!</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {% load static %}

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}


</head>
<body>

    <div id="navbar">
        {% include 'base.html' %}
    </div>

    <div style='margin-bottom:15px; margin-top: 75px'>
        <h1 class='title' style='width: 800px; margin: 0 auto'>
            My Recipes:
        </h1>
    </div>

    {% for recipe in recipes %}
    <div style='margin-bottom: 20px;'>
        <div style='width: 800px; height: 172px; margin:0 auto; border: 1px solid black;' background-color=#FFFFFF;>
            <div style='width:150px; float: left;'>
                <img
                    border="1"
                    src={{ recipe.recipe_url }}
                    width="170" height="170"
                />
            </div>

            <div style='width: 600px; height: 150px; float: right; margin-left: 20px;'>
                <h4 class="title">
                    <a href='{{ recipe.recipe_source }}'>{{ recipe.recipe_title }}</a>
                </h4>
                <div>
                    From: <a href='{{ recipe.recipe_source }}'>{{ recipe.recipe_source }}</a>
                </div>
                <div>
                    <a href='{{ recipe.recipe_source }}'> View Recipe </a>
                </div>
                <div>
                    <h5> Notes: {{ recipe.notes }} </h5>
                </div>

                <div style='float: left'>
                    Add to:
                    <button type='button' id='shopping-list-{{ recipe.recipe_id }}' class='btn btn-primary btn-sm'>Shopping List</button>
                </div>
                <div class='dropup inline' style='float: left; margin-left:4px;'>
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        Meals
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Thanksgiving</a></li>
                        <li><a href="#">Birthday</a></li>
                        <li><a href="#">RandomHoliday</a></li>
                    </ul>
                    <button type="submit" id="recipes-{{ recipe.recipe_id }}" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript">
            $('#recipes-{{ recipe.recipe_id }}').click(function(e) {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'delete-recipe' %}',
                    data: {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        recipeID: '{{ recipe.recipe_id }}'
                    },
                    success: function(response) {
                        $(document).ready(function() {
                            location.reload(true);
                        });
                    }
                });
            });

            $('#shopping-list-{{ recipe.recipe_id }}').click(function(e) {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'add-to-shopping-list' %}',
                    data: {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        recipeID: '{{ recipe.recipe_id }}'
                    }
                });
            });
        </script>
    {% endfor %}
    {% include 'footer.html' %}
</body>
</html>