<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results!</title>

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

</head>
<body background-color=#D3D3D3; style='padding-bottom: 50px'>


    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href={% url 'Search.views.index' %}>Home</a></li>
            <li class='active'><a href="/members/">Members</a></li>
            <li><a href="#">Research</a></li> 
            <li><a href="#">Publications</a></li>
            <li><a href="#">Links</a></li>  
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>

    <div style='margin-bottom:15px; margin-top: 20px'>
        <h1 class='title' style='width: 800px; margin: 0 auto'>
            Results for {{ searchString }}:
        </h1>
    </div>

    {% for obj in objects %}
    <div style='margin-bottom: 20px;'>
        <div style='width: 800px; height: 172px; margin:0 auto; border: 1px solid black;' background-color=#FFFFFF;>
               
                <div style='width:150px; float: left;'>
                    <img
                        border="1"
                        src={{ obj.image_url }}
                        width="170" height="170"
                    />
                </div>    


                <div style='width: 600px; height: 150px; float: right; margin-left: 20px;'>
                    <h4 class="title">
                        <a href='{{ obj.source_url }}'>{{ obj.title }}</a> 
                    </h4>

                    <div>
                        From: <a href='{{ obj.publisher_url }}'>{{ obj.publisher }}</a>
                    </div>

                    <div>
                        View <a href='{{ obj.f2f_url }}'> Recipe </a>
                    </div>
 
                    <div>
                        <h5>Social Rank: {{ obj.social_rank}}</h5>
                    </div>

                    <div>
                        Add to:
                        <button type="button" class="btn btn-primary btn-sm">Recipies</button>
                        <button type="button" class="btn btn-primary btn-sm">Meals</button> 
                    </div>

                </div>
       
        </div>    
    </div>
    {% endfor %}

</body>
</html>
