<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<meta charset="UTF-8">
<head>
    <font color="white">Hi, {{ name }}! Welcome to MealBox. Type in your desired meal below.</font>

     <script type="text/javascript">

        window.onAmazonLoginReady = function() {
            amazon.Login.setClientId('amzn1.application-oa2-client.3841a328796f48d48add98af3e1bd6fa');
        };

        (function(d) {
            var a = d.createElement('script'); a.type = 'text/javascript';
            a.async = true; a.id = 'amazon-login-sdk';
            a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
            d.getElementById('amazon-root').appendChild(a);
        }) (document);
    </script>

    <div style="float: right">
         <a href="#" id="Logout">
            <img
                border="0" alt="Logout"
                src="http://www.clker.com/cliparts/H/1/c/C/6/F/gray-login-thin-button-hi.png"
                width="156" height="32"
            />
        </a>
    </div>

    <script type="text/javascript">
        document.getElementById('Logout').onclick = function() {
          amazon.Login.logout();
        };
    </script>

    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/searchstyle.css' %}">
</head>

<body>
    <p>
        <img src="{% static 'img/logo.png' %}" style = 'width: 250px; height:100px; position: absolute; top:250px; left: 250px'>
    </p>

    <form style = 'width:400px; height:100px'; action="/search/" method="post">
        {% csrf_token %}
            {{ form }}
        <input type="submit" name="searchField" value = 'Search Recipe'/>
    </form>

</body>

</html>