<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results!</title>
</head>
<body>

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}


    <p>Results for {{ searchString }}</p>
    <ul>
    {% for obj in objects %}
        
        <div style='margin-bottom: 10px'>
            <img
                border="1"
                src={{obj.image_url}}
                width="250" height="150"
            />
            
            <a href="{{obj.source_url}}">{{ obj.title }}</a> 
        </div>

    {% endfor %}
    </ul>

</body>
</html>
