<div class="modal" id="ingredient-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modal-title">{{ ingredient_name }}</h2>
            </div>
            <div class="modal-body" id="ingredients-modal-body" style="height: 250px; overflow-y: auto;">
                {% for product in products %}
                    <div>
                        {{ product.pro }}
                        {{ product.product_title }}
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button id="closeAmazonIngredients" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>