<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {% load static %}

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <div id="amazon-root"></div>
     <script type="text/javascript">

        window.onAmazonLoginReady = function() {
            amazon.Login.setClientId('amzn1.application-oa2-client.3841a328796f48d48add98af3e1bd6fa');
        };

        (function(d) {
            var a = d.createElement('script'); a.type = 'text/javascript';
            a.async = true; a.id = 'amazon-login-sdk';
            a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
            d.getElementById('amazon-root').appendChild(a);
        }) (document);
    </script>

</head>
<body background-color=#D3D3D3; style='padding-bottom: 50px'>

    <div id="navbar">
        {% include 'base.html' %}
    </div>

    <div style='margin-bottom:15px; margin-top: 75px'>
        <h1 class='title' style='width: 800px; margin: 0 auto'>
            Recipes in your Shopping List:
        </h1>
    </div>

    <div id="modal">
        {% include 'shoppingListModal.html' %}
    </div>

    <div style="margin:0 auto; border: 1px solid black; width: 800px;">
         {% for ingredients in ingredients_list %}
             {% for ingredient in ingredients %}
                <div style="text-align: center" id="ingredient-{{ ingredient.ingredient_id }}">
                    <a data-toggle='modal'>{{ ingredient.ingredient_name }}</a>
                </div>

                <script type="text/javascript">
                    $('#ingredient-{{ ingredient.ingredient_id }}').click(function(e) {
                        $.ajax({
                            type: 'POST',
                            url: '{% url 'lookup-ingredients-amazon' %}',
                            data: {
                                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                                ingredientName: '{{ ingredient.ingredient_name }}'
                            },
                            dataType: 'json',
                            success: function(response) {
                                $('#modal-title').html('Amazon products for: ' + response['ingredient_name']);
                                //console.log(response[0])
                                var html = "";
                                $.each(response, function(product, productDetails) {
                                    //$('#modal-title').append(data)
                                    html+=
                                        '<div>' +
                                            productDetails['medium_image_url'] +
                                        '</div>';

                                    console.log(productDetails)
                                });
                                $('#modal-body').html(html);
                                $('#ingredient-modal').modal().show();
                            }
                         });
                    });
                </script>
           {% endfor %}
        {% endfor %}
    </div>

    {% for recipe in recipes %}
    <div style='margin-bottom: 20px;'>
        <div style='width: 800px; height: 172px; margin:0 auto; border: 1px solid black;' background-color=#FFFFFF;>

            <div style='width:150px; float: left;'>
                <img
                    border="1"
                    src={{ recipe.image_url }}
                    width="170" height="170"
                />
            </div>

            <div style='width: 600px; height: 150px; float: right; margin-left: 20px;'>
                <h4 class="title">
                    <a href='{{ recipe.source_url }}'>{{ recipe.title }}</a>
                </h4>
                <div>
                    From: <a href='{{ recipe.publisher_url }}'>{{ recipe.publisher }}</a>
                </div>
                <div>
                    <a href='{{ recipe.f2f_url }}'> View Recipe </a>
                </div>
                <div>
                    <h5>Social Rank: {{ recipe.social_rank }}</h5>
                </div>
                <div style='display: inline-block'>
                    <div style='float: left'>
                        Add to:

                        <button type="submit" id="recipes-{{ recipe.recipe_id }}" class="btn btn-primary btn-sm">Recipes</button>

                        <button type='button' id='shopping-list-{{ recipe.recipe_id }}' class='btn btn-primary btn-sm'>Shopping List</button>
                    </div>

                    <div class='dropup inline' style='float: left; margin-left:4px;'>
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            Meals
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Thanksgiving</a></li>
                            <li><a href="#">Birthday</a></li>
                            <li><a href="#">RandomHoliday</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript">
            $('#recipes-{{ recipe.recipe_id }}').click(function(e) {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'add-recipe' %}',
                    data: {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        recipeID: '{{ recipe.recipe_id }}',
                        recipeTitle: '{{ recipe.title }}',
                        recipeDirections: '{{ recipe.source_url }}',
                        recipeIngredientsUrl: '{{ recipe.f2f_url }}',
                        recipeImageUrl: '{{ recipe.image_url }}'
                    }
                });
            });

            $('#shopping-list-{{ recipe.recipe_id }}').click(function(e) {
                $.ajax({
                    type: 'POST',
                    url: '{% url 'add-to-shopping-list' %}',
                    data: {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        recipeID: '{{ recipe.recipe_id }}'
                    }
                });
            });
        </script>


    {% endfor %}

</body>
   <script type="text/javascript">
        document.getElementById('Logout').onclick = function() {
          amazon.Login.logout();
        };
   </script>
</html>
