<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {% load static %}

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <div id="modal-wrapper">
        {% include 'shoppingListModal.html' %}
    </div>

</head>
<body background-color=#D3D3D3; style='padding-bottom: 50px'>

    <div id="navbar">
        {% include 'base.html' %}
    </div>

    <div style='margin-bottom:15px; margin-top: 75px'>
        <h1 class='title' style='width: 550px; margin: 0 auto'>
            Recipes in your Shopping List:
            <a class="glyphicon glyphicon-info-sign" style="float: right; font-size: 0.4em; margin-right:45px; cursor: pointer"
               data-toggle="tooltip" data-placement="right"
               title="Add individual ingredients to the cart or quick add them in bulk!">
            </a>
        </h1>
    </div>

    <div style="margin:0 auto; width: 700px;">
         {% for ingredients in ingredients_list %}
             <div style="border: 1px solid black; margin-bottom: 20px; overflow: hidden">
                 <div style="text-align: center; margin-top:20px;">
                     <h3 class="title">
                         <a href="{{ ingredients.0.recipe_source }}" target="_blank">{{ ingredients.0.recipe_title }}</a>
                     </h3>
                 </div>
                 <div>
                     <div style="width: 300px; margin-left: 20px; margin-bottom: 20px; margin-top: 10px; float: left">
                        <a href="{{ ingredients.0.recipe_source }}" target="_blank">
                            <img
                                border="1"
                                src="{{ ingredients.0.recipe_url }}"
                                width="233" height="233"
                            />
                        </a>

                        <div style="margin-top: 10px;">
                            <button type='button' id='quick-add-to-cart{{ ingredients.0.recipe_id }}' class='btn btn-primary btn-sm'>Quick Add to Cart</button>
                            <button type='button' id='remove-from-list{{ ingredients.0.recipe_id }}' class='btn btn-danger btn-sm'>Remove from List</button>
                        </div>
                    </div>
                    <div style="width: 300px; float: left; margin-bottom: 30px;">
                        <div style="text-align: center; margin-top:20px;">
                            <h4 class="title">Ingredients</h4>
                        </div>
                        <div style="width: 300px; height: 235px; margin-top: 10px; overflow-y: auto">
                            {% for ingredient in ingredients %}
                                <div style="text-align: center" id="ingredient-{{ ingredient.ingredient_id }}">
                                    <a data-toggle='modal' style="cursor: pointer;">{{ ingredient.ingredient_name }}</a>
                                </div>

                                <script type="text/javascript">
                                    $('#ingredient-{{ ingredient.ingredient_id }}').click(function(e) {
                                        $.ajax({
                                            type: 'POST',
                                            url: '{% url 'lookup-ingredients-amazon' %}',
                                            data: {
                                                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                                                ingredientName: '{{ ingredient.ingredient_name }}'
                                            },
                                            success: function(response) {
                                                $(document).ready(function() {
                                                    $('#modal-wrapper').html(response);
                                                    $('#ingredient-modal').modal().show();
                                                });
                                            }
                                         });
                                    });

                                    $('#remove-from-list{{ ingredients.0.recipe_id }}').click(function(e) {
                                        $.ajax({
                                            type: 'POST',
                                            url: '{% url 'remove-from-list' %}',
                                            data: {
                                                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                                                recipeID: '{{ ingredients.0.recipe_id }}'
                                            }
                                         });
                                    });

                                    $('#quick-add-to-cart{{ ingredients.0.recipe_id }}').click(function(e) {
                                        $.ajax({
                                            type: 'POST',
                                            url: '{% url 'quick-add-to-cart' %}',
                                            data: {
                                                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                                                recipeID: '{{ ingredients.0.recipe_id }}'
                                            }
                                         });
                                    });
                                </script>
                             {% endfor %}
                        </div>
                    </div>
                 </div>
             </div>
        {% endfor %}
    </div>
{% include 'footer.html' %}
</body>
</html>
