<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {% load static %}

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <div id="amazon-root"></div>
     <script type="text/javascript">

        window.onAmazonLoginReady = function() {
            amazon.Login.setClientId('amzn1.application-oa2-client.3841a328796f48d48add98af3e1bd6fa');
        };

        (function(d) {
            var a = d.createElement('script'); a.type = 'text/javascript';
            a.async = true; a.id = 'amazon-login-sdk';
            a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
            d.getElementById('amazon-root').appendChild(a);
        }) (document);
    </script>

</head>
<body background-color=#D3D3D3; style='padding-bottom: 50px'>

    <div id="navbar">
        {% include 'base.html' %}
    </div>

    <div style='margin-bottom:15px; margin-top: 75px'>
        <h1 class='title' style='width: 800px; margin: 0 auto'>
            Recipes in your Shopping List:
        </h1>
    </div>

    <div id="modal-wrapper">
        {% include 'shoppingListModal.html' %}
    </div>

    <div style="margin:0 auto; width: 700px;">
         {% for ingredients in ingredients_list %}
             <div style="border: 1px solid black; margin-bottom: 20px; overflow: hidden">
                 <div style="text-align: center; margin-top:20px;">
                     <h3 class="title">
                         <a href="{{ ingredients.0.recipe_source }}" target="_blank">{{ ingredients.0.recipe_title }}</a>
                     </h3>
                 </div>
                 <div>
                     <div style="width: 300px; margin-left: 20px; margin-bottom: 20px; margin-top: 10px; float: left">
                        <a href="{{ ingredients.0.recipe_source }}" target="_blank">
                            <img
                                border="1"
                                src="{{ ingredients.0.recipe_url }}"
                                width="233" height="233"
                            />
                        </a>

                        <div style="margin-top: 10px;">
                            <button type='button' id='quick-add-to-cart{{ ingredients.0.recipe_id }}' class='btn btn-primary btn-sm'>Quick Add to Cart</button>
                            <button type='button' id='remove-from-list{{ ingredients.0.recipe_id }}' class='btn btn-primary btn-sm'>Remove from List</button>
                        </div>
                    </div>
                    <div style="width: 300px; height: 250px; float: left; margin-top: 10px; overflow-y: auto">
                        {% for ingredient in ingredients %}
                            <div style="text-align: center" id="ingredient-{{ ingredient.ingredient_id }}">
                                <a data-toggle='modal'>{{ ingredient.ingredient_name }}</a>
                            </div>

                            <script type="text/javascript">
                                $('#ingredient-{{ ingredient.ingredient_id }}').click(function(e) {
                                    $.ajax({
                                        type: 'POST',
                                        url: '{% url 'lookup-ingredients-amazon' %}',
                                        data: {
                                            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                                            ingredientName: '{{ ingredient.ingredient_name }}'
                                        },
                                        success: function(response) {
                                            $(document).ready(function() {
                                                $('#modal-wrapper').html(response);
                                                $('#ingredient-modal').modal().show();
                                            });
                                        }
                                     });
                                });

                                $('#remove-from-list{{ ingredients.0.recipe_id }}').click(function(e) {
                                    $.ajax({
                                        type: 'POST',
                                        url: '{% url 'remove-from-list' %}',
                                        data: {
                                            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                                            recipeID: '{{ ingredients.0.recipe_id }}'
                                        }
                                     });
                                });

                                $('#quick-add-to-cart{{ ingredients.0.recipe_id }}').click(function(e) {
                                    $.ajax({
                                        type: 'POST',
                                        url: '{% url 'quick-add-to-cart' %}',
                                        data: {
                                            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                                            recipeID: '{{ ingredients.0.recipe_id }}'
                                        }
                                     });
                                });
                            </script>
                         {% endfor %}
                    </div>
                 </div>
             </div>
        {% endfor %}
    </div>
</body>
   <script type="text/javascript">
        document.getElementById('Logout').onclick = function() {
          amazon.Login.logout();
        };
   </script>
</html>
